* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fcd8fe;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
}

.search-section {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#medicine-search {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #45a049;
}

.medicine-list {
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.medicine-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
}

.medicine-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 10px;
    object-fit: cover;
}

.medicine-info {
    flex: 1;
}

.medicine-info h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.medicine-info p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.add-to-cart {
    padding: 10px 15px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #e65c00;
}

/* Responsive */
@media (max-width: 768px) {
    .medicine-item {
        flex-direction: column;
        text-align: center;
    }

    .medicine-item img {
        margin-bottom: 20px;
    }
}
