* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: rgb(250, 220, 243);
    padding: 80px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 400px;
    
}

.logo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.logo h1 {
    font-family:'Courier New', Courier, monospac;
    font-size: 2.5rem;
    color: #4CAF50;
    
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #777;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    text-decoration: none;
    padding: 12px 25px;
    font-size: 1.2rem;
    color: rgb(148, 198, 232);
    background-color: #4CAF50;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

/* Media Query for smaller devices */
@media (max-width: 500px) {
    .container {
        width: 100%;
        padding: 20px;
    }

    .button-container {
        flex-direction: column;
    }

    .btn {
        margin-bottom: 15px;
    }
}
