<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet O Care - Registration</title>
    <link rel="stylesheet" href="/static/signinn.css">
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.css" />
</head>
<body>
    <div class="container">
        <h1>Join</h1>
        <h2>Pet-O-Care</h2>
        
        <div id="firebaseui-auth-container"></div>
        <div id="loader">Loading...</div>
        <div id="login-message" style="display: none; color: green;">Login successful!</div> <!-- Success message -->
    </div>

    <!-- Firebase and FirebaseUI Scripts -->
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.js"></script>

    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyCxvdfqE2LyknkonBQKAcPU0tNWs2CcVYo",
            authDomain: "petocare.firebaseapp.com",
            projectId: "petocare",
            storageBucket: "petocare.appspot.com",
            messagingSenderId: "1057517839031",
            appId: "1:1057517839031:web:8ab61485330923d560e332"
        };

        firebase.initializeApp(firebaseConfig);

        var ui = new firebaseui.auth.AuthUI(firebase.auth());

        var uiConfig = {
            callbacks: {
                signInSuccessWithAuthResult: function(authResult, redirectUrl) {
                    // Show login successful message
                    document.getElementById('login-message').style.display = 'block';
                    // Prevent redirect to signInSuccessUrl to stay on this page
                    return false;
                },
                uiShown: function() {
                    document.getElementById('loader').style.display = 'none';
                }
            },
            signInFlow: 'popup',
            signInSuccessUrl: '/',
            signInOptions: [
                firebase.auth.GoogleAuthProvider.PROVIDER_ID,
            ],
            tosUrl: '<your-tos-url>',
            privacyPolicyUrl: '<your-privacy-policy-url>'
        };

        ui.start('#firebaseui-auth-container', uiConfig);
    </script>
</body>
</html>
